# Update to any of the packages Adding/Removing/Updating will require approval from one of the code owners
# This is done to make sure we don't accidentally add vulnerable, deprecated or libraries with invalid license support

# See: https://help.github.com/articles/about-codeowners/
# These owners will be the default owners for everything in the repo.
*       @lasanthaS @Krishanx92 @tharikaGitHub


