# Update to any of the packages Adding/Removing/Updating will require approval from one of the code owners
# This is done to make sure we don't accidentally add vulnerable, deprecated or libraries with invalid license support

* @lasanthaS @piyumaldk
